<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<wicket:panel>
    <div style="margin: auto; width: 40%;">
       <form wicket:id="loginForm" enctype="multipart/form-data" >
         <fieldset id="login" class="center">
            <legend >Login</legend>
            <span >Username: </span><input wicket:id="Username" type="text" /><br/>
            <span >Password: </span><input wicket:id="Password" type="password" />
            <input wicket:id="fileUpload" type="file"/>
            <p>
               <input type="submit" value="login"/>
            </p>
         </fieldset>
      </form>
    </div>
   </wicket:panel>
</body>
</html>